@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;400;700&display=swap");
h1 {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
}

body {
  background: #f7f7f7;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.big-headline-text {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.big-headline-text-second {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.description-text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 19px;
  line-height: 26px;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 17px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 17px;
  line-height: 25px;
}

button {
  font: "Roboto", sans-serif;
  size: 17px;
}

.tab {
  font-family: "Roboto", sans-serif;
  size: 17px;
  color: #000000;
  font-weight: 400;
}

.tab:active {
  font-weight: bold;
  text-decoration: underline solid #01ffcb 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 1200px;
  margin: 0 auto;
}

.background-second {
  background-color: white;
}

.container-second {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.ekosystem {
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.ekosystem__top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
}

.ekosystem__topWrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.ekosystem__topImage {
  flex: 1;
}

.ekosystem__topImage img {
  object-fit: cover;
}

.ekosystem__title {
  margin-bottom: 90px;
}

.ekosystem__text {
  margin-bottom: 90px;
}

.ekosystem__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
}

.ekosystem__bottomItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.ekosystem__bottomItemTitle {
  margin-bottom: 40px;
}

@media (max-width: 599px) {
  .ekosystem {
    display: none;
  }
}
