@import './main';

.faq {

    // padding: $large $space;
    display: flex;
    flex-direction: row;
    margin-top: $xx-large;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: wrap;
    
  
    &__title {    
      @include h0($text-color);
      font-size: 50px;
      line-height: 60px;
      letter-spacing: -1px;
      width: 2.25 * $xx-large;
      @include for-phone-only {    
        margin-bottom: $small;
        font-size: $font-mobile-title;
        line-height: $font-mobile-title-line-height;
     }
      
    }
  
    &__questions {
      @include h4;
      width: 2.5 * $xx-large;
      line-height: $base;

      &--last {
        @include for-phone-only {    
          display: none;
       }
      }
    }
  
    &__answer {
      margin-top: $base;
      margin-bottom: $medium;
      font-weight: $font-ligth;
  
        &--underlined {
          text-decoration: underline;
      }
    }
    
    @include for-phone-only {
      padding: 0;
      margin: 0 0 $xx-large $small;      
   }
   @include for-phone-only {    
    display: none;
 }
  }
  