@import './main';

.features {
    margin-top: $xx-large;
  }
  
  .features__main {
    display: flex;
    flex-direction: column;
    background-color: $product-color;
    padding-left: $space;
    padding-right: $space;
    align-content: space-between;
    background-image: url('Layer 78.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  
  
  .features__title {
    margin-left: $space;
  }
  
  .features__top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .features__rightSide {
    width: 740px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-left: $xx-large;
  }
  
  .features__bottom p {
    text-align: center;
    color: white;
  }
  
  .features__bottom hr {
    border-top: 1px dashed white;
    color: transparent;
  }
  
  
  
  .features__subtitle {
    margin-bottom: $xx-large;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: -3px;
    line-height: 60px;
    width: 540px;
  
  }
  
  .features__phoneImg {
    margin-left: auto;
    padding: 0;
  }
  
  .features__text {
    margin-left: auto;
    margin-bottom: $x-large;
    width: 540px;
  }
  .features__text p {
    color: white;
  }
  
  
  