@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;400;700&display=swap");
h1 {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
}

body {
  background: #f7f7f7;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.big-headline-text {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.big-headline-text-second {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.description-text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 19px;
  line-height: 26px;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 17px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 17px;
  line-height: 25px;
}

button {
  font: "Roboto", sans-serif;
  size: 17px;
}

.tab {
  font-family: "Roboto", sans-serif;
  size: 17px;
  color: #000000;
  font-weight: 400;
}

.tab:active {
  font-weight: bold;
  text-decoration: underline solid #01ffcb 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 1200px;
  margin: 0 auto;
}

.container__second {
  background-color: white;
}

.features {
  margin-top: 120px;
}

@media (max-width: 599px) {
  .features {
    display: none;
  }
}

.features__main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: space-between;
  background-image: url("Layer 78.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #3146ff;
  justify-content: center;
}

.features__title {
  margin: 0 auto;
  width: 1200px;
}

.features__top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

.features__rightSide {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-left: 120px;
}

.features__bottom p {
  text-align: center;
  color: white;
}

.features__bottom hr {
  border-top: 1px dashed white;
  color: transparent;
}

.features__subtitle {
  margin-bottom: 120px;
  font-size: 50px;
  letter-spacing: -3px;
  line-height: 60px;
  width: 540px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.features__phoneImg {
  padding: 0;
}

.features__text {
  margin-bottom: 90px;
  width: 540px;
}

.features__text p {
  color: white;
}
