@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;400;700&display=swap");
h1 {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
}

body {
  background: #f7f7f7;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.big-headline-text {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.big-headline-text-second {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.description-text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 19px;
  line-height: 26px;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 17px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 17px;
  line-height: 25px;
}

button {
  font: "Roboto", sans-serif;
  size: 17px;
}

.tab {
  font-family: "Roboto", sans-serif;
  size: 17px;
  color: #000000;
  font-weight: 400;
}

.tab:active {
  font-weight: bold;
  text-decoration: underline solid #01ffcb 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 1200px;
  margin: 0 auto;
}

.background-second {
  background-color: white;
}

.container-second {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
}

@media (max-width: 599px) {
  .header {
    display: none;
  }
}

.header__main {
  display: flex;
  flex-direction: row;
}

.header__mainText {
  display: flex;
  flex-direction: column;
}

.header-listsWrapper {
  width: 1800px;
  z-index: 4;
  background-color: #f7f7f7;
  margin-top: 180px;
}

.header__lists {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7;
  width: 1200px;
  margin-top: 30px;
  z-index: 5;
  justify-content: space-between;
}

.header__listItem {
  width: 300px;
}

.header__title {
  padding-top: 170px;
  padding-bottom: 40px;
}

.header__text {
  padding-bottom: 30px;
}

.header .header__mainText .header__btn {
  margin-bottom: 90px;
}

.header__mainImages {
  position: relative;
  z-index: 1;
  margin-top: 40px;
  margin-left: 60px;
}

.header__storeIcons {
  width: 420px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__storeIconImg {
  height: 60px;
}

.handImage {
  z-index: 3;
  position: absolute;
  left: 90px;
}

.desksImage {
  z-index: 2;
  position: absolute;
  left: 30px;
  top: 120px;
}
