@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;400;700&display=swap');

$product-color: #3146ff;
$text-color: #000000;
$secondary-color: #01ffcb;
$background-color: #f7f7f7;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// metrics
$x-small: 10px;
$small: 20px;
$base: 30px;
$medium: 40px;
$large: 60px;
$x-large: 90px;
$xx-large: 120px;

// font weight
$font-ligth: 300;
$font-regular: 400;
$font-bold: 700;

// font-size
$font-mobile-title: 35px;
$font-mobile-title-line-height: 45px;

$space: 340px;
$desktop-page-width: 1200px;


@mixin for-phone-only {
  @media (max-width: 599px) { @content;     
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
  }
}

@mixin h0($color: $product-color) {
  font-family: $primary-font;
  color: $color;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

@mixin button-design {
  background-color: Transparent; 
  outline: none;
  border: none;
  color: $text-color;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: $secondary-font;
  font-weight: $font-regular;
  color: white;
  background-color: $product-color;
  padding: $small $large;
  font-weight: $font-ligth;
}

h1 {
  font-family: $primary-font;
    color: $product-color;
}

body {
  background: $background-color;
  font-family: $secondary-font;
  margin: 0;
  padding: 0;
}

.big-headline-text {
  font-family: $primary-font;
  color: $product-color;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.big-headline-text-second {
  font-family: $primary-font;
  color: $text-color;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.description-text {
  font-family: $secondary-font;
  color: $text-color;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

@mixin description-text {
  font-family: $secondary-font;
  color: $text-color;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

h2 {
  font-family: $primary-font;
  color: $text-color;
  font-size: 30px;
  line-height: 40px;
  
}

h3 {
  font-family: $primary-font;
  color: $text-color;
  font-size: 19px;
  line-height: 26px;
}

h4 {
  font-family: $secondary-font;
  color: $text-color;
  font-size: 17px;
}

@mixin h4 {
  font-family: $secondary-font;
  color: $text-color;
  font-size: 17px;
}

p {
  font-family: $secondary-font;
  font-weight: $font-ligth; //light
  color: $text-color;
  font-size: 17px;
  line-height: 25px;
}

button {
  font: $secondary-font;
  size: 17px;
}

.tab {
  font-family: $secondary-font;
  size: 17px;
  color: $text-color;
  font-weight: $font-regular;
}

@mixin tab {
  font-family: $secondary-font;
  size: 17px;
  color: $text-color;
  font-weight: $font-regular;

  &:active {
    font-weight: bold;
    text-decoration: underline solid $secondary-color 3px;
  }
}

.tab:active {
  font-weight: bold;
  text-decoration: underline solid $secondary-color 3px;
}

.container {
  display: flex;
  flex-direction: column ;
  margin: 0;
  padding: 0;
  outline:0;
  width: $desktop-page-width;
  margin: 0 auto;
}

.background-second{
  background-color: white;
}

.container-second {
  display: flex;
  flex-direction: column ;
  margin: 0;
  padding: 0;
  outline:0;
  width: $desktop-page-width;
  margin: 0 auto;
  background-color: white;
}
