@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;400;700&display=swap');

$product-color: #3146ff;
$text-color: #000000;
$secondary-color: #01ffcb;
$background-color: #f7f7f7;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// metrics
$x-small: 10px;
$small: 20px;
$base: 30px;
$medium: 40px;
$large: 60px;
$x-large: 90px;
$xx-large: 120px;

// font weight
$font-ligth: 300;
$font-regular: 400;
$font-bold: 700;

$space: 340px;


@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
  }
}

@mixin h0($color: $product-color) {
  font-family: $primary-font;
  color: $color;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

@mixin button-design {
  background-color: Transparent; 
  outline: none;
  border: none;
  color: $text-color;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: $secondary-font;
  font-weight: $font-regular;
  color: white;
  background-color: $product-color;
  padding: $small $large;
  font-weight: $font-ligth;
}

h1 {
  font-family: $primary-font;
    color: $product-color;
}

body {
  background: $background-color;
  font-family: $secondary-font;
  margin: 0;
  padding: 0;
}

.big-headline-text {
  font-family: $primary-font;
  color: $product-color;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.big-headline-text-second {
  font-family: $primary-font;
  color: $text-color;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.description-text {
  font-family: $secondary-font;
  color: $text-color;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

@mixin description-text {
  font-family: $secondary-font;
  color: $text-color;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

h2 {
  font-family: $primary-font;
  color: $text-color;
  font-size: 30px;
  line-height: 40px;
  
}

h3 {
  font-family: $primary-font;
  color: $text-color;
  font-size: 19px;
  line-height: 26px;
}

h4 {
  font-family: $secondary-font;
  color: $text-color;
  font-size: 17px;
}

@mixin h4 {
  font-family: $secondary-font;
  color: $text-color;
  font-size: 17px;
}

p {
  font-family: $secondary-font;
  font-weight: $font-ligth; //light
  color: $text-color;
  font-size: 17px;
  line-height: 25px;
}

button {
  font: $secondary-font;
  size: 17px;
}

.tab {
  font-family: $secondary-font;
  size: 17px;
  color: $text-color;
  font-weight: $font-regular;
}

@mixin tab {
  font-family: $secondary-font;
  size: 17px;
  color: $text-color;
  font-weight: $font-regular;

  &:active {
    font-weight: bold;
    text-decoration: underline solid $secondary-color 3px;
  }
}

.tab:active {
  font-weight: bold;
  text-decoration: underline solid $secondary-color 3px;
}

.container {
  display: flex;
  flex-direction: column ;
  margin: 0;
  padding: 0;
  outline:0;
}
.container_second {
  display: flex;
  flex-direction: column ;
  margin: 0;
  padding: 0;
  outline:0;
  background-color: white;
}

.footer {
  background-color: $product-color;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: $secondary-font;
  font-weight: $font-ligth;

  @include for-phone-only {    
    flex-flow: column;
    padding: 0;
 }

}

.footer__lists {
  display: flex;
  flex-wrap: row wrap;  
  list-style: none; 
  padding: $space;
  padding-top: $x-large;
  padding-bottom: $xx-large;

  @include for-phone-only {    
    flex-flow: column;
    padding: 0;
 }
  
}

// @media all and (max-width: 1000px) {
//   .footer__lists {
//     flex-flow: column;
//     padding: 0;
//   }
//   .footer {
//     flex-flow: column;
//     padding: 0;
//   }
// }


.footer__list {
  padding-right: $xx-large;
}

.footer__listTitle {
  font-weight: $font-bold;
  padding-bottom: $small;
}

.footer hr {
  border: 0;
  height: 1px;
  opacity: 0.2;
  background-color: #E8E9EB;
}

.footer__logo img {
  float: right;
  padding-right: $base;
  padding-top: $medium;
  padding-bottom: $xx-large;
}

.menu {
  display: flex;
  flex-direction: column;
  // border: dotted 5px red;
  position: sticky;
  top: 0;  
  background-color: white;
  margin: 0;
  padding: 0;
  z-index:10;
}

.menu li {
  display: inline;
}

.menu__wrapperTop {
  // border: solid 5px blue;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
  padding: 0;
  outline:0;
}

.menu__logo {
  // border: solid 5px green;
  padding-left: $x-large;
}

.menu__navTop {
  // border: solid 5px yellow;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  // width: 790px;
  justify-content: space-between;
  
  
}

// world icon
.menu__navTopMiddle {
  // border: solid 5px black;
  padding-left: $base;
  padding-right: $base;
}

.menu__navTopRight {
  // border: solid 5px pink;
}

.menu__navTopRight button {
  background-color: Transparent; 
  outline: none;
  border: none;
  color: $text-color;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 17px;
  font-family: $secondary-font;
  font-weight: $font-regular;
}

.menu .menu__btnGetTheApp {
  color: white;
  background-color: $product-color;
  padding-right: $xx-large + 20px;
  padding-top: $large;
  padding-left: $medium;
  font-weight: $font-ligth;
}

.menu__navTopLeft {
  // border: solid 5px red;
  padding: 0;
  padding-right: $base;
  margin: 0;
  font-size: 13px;
  justify-content: space-between;
  display: flex;
  flex-flow: row;
}

.menu__navTopLeft li {
  padding-right: $base;
  padding-left: $base;
}



.menu__navDown {
  // border: solid 5px purple;
  padding-left: $space;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.header {  
  display: flex;
  flex-direction: column;
}

.header__main {
  padding-left: $space;
  display: flex;
  flex-direction: row;
}

.header__mainText {
  display: flex;
  flex-direction: column;
}

.header__lists {
  display: flex;
  flex-direction: row;
  // background-color: red;
  background-color: $background-color;
  padding-left: $space;
  padding-top: $medium;
  margin-top: $base;
  z-index: 4;
}

.header__listItem {
  width: 310px;
  margin-right: $xx-large;
}

.header__title {
  padding-top: 170px;
  padding-bottom: $medium;
}

.header__text{
  padding-bottom: $base;
}

.header .header__mainText .header__btn {
  margin-bottom: $x-large;
}

.header__mainImages {
  position:relative; 
  z-index:1;
  margin-top: $medium;
  margin-left: $large;
}

.header__storeIcons {
  width:420px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

 .header__storeIconImg {
  height:60px;
}

.handImage {
  z-index:3;
  position: absolute;
  left: $x-large;
}

.desksImage {
  z-index:2;
  position:absolute;
  left: $base;
  top: $xx-large;
}

.problemSolving {
  margin-left: $space;
  margin-top: $xx-large;
}

.problemSolving__tiles {
  display: flex;
  flex-direction: row;
}

.problemSolving__tile {
  background-color: white;
  padding: $large;
  margin-right: $small;
}

.problemSolving__image {
  margin-bottom: $large;
  
}

.problemSolving__title {
  width: 200px;
}

.problemSolving__text {
}

.products {
  padding-left: $space;
  padding-top: $xx-large;
  background-color: white;
}

.product__tiles {
  display: flex;
  flex-direction: row;
  
}

.product__tile {
  background-color: $background-color;
  margin-right: $small;  
  position: relative;
  margin-bottom: $x-large;
  width: 450px;
  padding: 0;
}

.product__tile h3 {
  margin:0;
  padding:0;
  border:0;
}

.product__subtitle{
  font-size:$large;
  margin:0;
  padding:0;
  border:0;

}

.textwrapper{
  position: absolute;
  top: $large;
  left: $large;
}

.products__image {  
  width:100%;
  height: 100%;
  margin:0;
  padding:0;
  border:0;
}


.products__title {
  margin:0;
  padding:0;
  display:inline; 
  border:0;
  position: absolute;
  top: 8px;
  left: 16px;
}

.products__text {
  
}

.features {
  margin-top: $xx-large;
}

.features__main {
  display: flex;
  flex-direction: column;
  background-color: $product-color;
  padding-left: $space;
  padding-right: $space;
  align-content: space-between;
  background-image: url('Layer 78.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.features__title {
  margin-left: $space;
}

.features__top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.features__rightSide {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-left: $xx-large;
}

.features__bottom p {
  text-align: center;
  color: white;
}

.features__bottom hr {
  border-top: 1px dashed white;
  color: transparent;
}



.features__subtitle {
  margin-bottom: $xx-large;
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: -3px;
  line-height: 60px;
  width: 540px;

}

.features__phoneImg {
  margin-left: auto;
  padding: 0;
}

.features__text {
  margin-left: auto;
  margin-bottom: $x-large;
  width: 540px;
}
.features__text p {
  color: white;
}


.roomBooking {
  display: flex;
  flex-direction: row;
  margin-left: $space;
  margin-right: $space;
  margin-top: $large;
  justify-content: space-between;
  margin-bottom:0;
  padding:0;
  outline:0;
  background-color: white;
}

.roomBooking__textWrapper {
  display: flex;
  flex-direction: column;
}

.roomBooking__title {
padding-top: $large;
}

.roomBooking__text {
  width: 412px;
}

.roomBooking__phone {
  margin:0;
  padding:0;
}

.roomBooking__phoneText {
  padding-top: $x-large;
  line-height: $base;
  margin-right: $xx-large;

}

.mainList {
  margin:0;
  padding:0;  
  outline:0;
  margin-left: $space*0.9;
  margin-right: $space*0.9;
}


.mainListItem {
  font-family: $primary-font;
  color: $text-color;
  font-size: 19px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  height: $large;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  padding: 0 $space*0.1;
}



.mainList ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid rgb(243, 243, 243);
  border-left: none;
  border-right: none;
  margin:0; 
}

.mainList ul li {
  // padding: 8px 16px;
  border-bottom: 1px solid rgb(243, 243, 243);
  margin:0;  
}

.mainList ul li:last-child {
  border-bottom: none;
  margin:0;
}


.mainListItem:active {
  color: $product-color;
}

.info {
  margin: 0 $space;
  margin-top: $large;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.info__item {
  display: flex;
  flex-direction: column;
}

.info__itemTitle {

}

.info__itemText {
  width: 528px;
}

.downloadPanel {
  margin: $large $space*0.9;
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: $x-small;
  padding-bottom: $x-small;
  align-items: center;
}

.downloadPanel__title {
  margin-left:$space*0.1;
}

.downloadPanel__spec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.downloadPanel__specElem {
  padding: 0 $small;  
}

.downloadPanel__specElem_light p {
  opacity: 0.05;
  font-size: 50px;
  padding: 0 $small; 
  font-weight: $font-ligth;
}


.downloadPanel_btn {
  margin-right:$space*0.1;

  background-color: Transparent; 
  outline: none;
  border: none;
  color: $text-color;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 17px;
  font-family: $secondary-font;
  font-weight: $font-regular;

  color: white;
  background-color: $product-color;
  padding: $small $large;
  font-weight: $font-ligth;
}


.bringTo21St {
  margin-left: $space;
  display: flex;
  flex-direction: column;
}

.bringTo21St__top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bringTo21St__textWrapper {
  display: flex;
  flex-direction: column;
}

.bringTo21St__title {
  margin-top: $x-large;
}

.bringTo21St__text {
  margin-top: $x-large;
}
.bringTo21St__img {
  margin-bottom: $x-large;
  margin-left: $large;
}

.bringTo21St__down {
  margin-right: $space;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bringTo21St__downItem {
  display: flex;
  flex-direction: column;  
  width: 520px;
}

.partners {
  margin-left: $space;
  margin-right: $space;
  display: flex;
  flex-direction: column;
}

.partners__title h2 {
  font-size: 50px;
  letter-spacing: -2px;

}

.partners__text {
  margin-bottom: $large;
}

.partners__list {
  display: flex;
  flex-direction: row;
justify-content: space-between;
}

.partners__listItem {
  display: flex;
  flex-direction: column;
  width: 301px;
}

.partners__listItemImage {
  margin-bottom: $medium;
}

// .ekosystem {
//   margin-left: $space;
//   display: flex;
//   flex-direction: column;
//   margin-top: $xx-large;
// }

// .ekosystem__top {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-end;
//   // border-style: 3px solid pink;
// }

// .ekosystem__topWrapper {
//   display: flex;
//   flex-direction: column;
// }

// .ekosystem_topImage {

// }

// .ekosystem__title {
//   width: 665px;
//   margin-bottom: $x-large;
// }

// .ekosystem__text {
//   width: 724px;
//   margin-bottom: $x-large;
// }

// .ekosystem__bottom {
//   display: flex;
//   flex-direction: row;
// }

// .ekosystem__bottomItem {
//   display: flex;
//   flex-direction: column;
//   margin-right: $space;
//   justify-content: space-between;
// }

// .ekosystem__bottomItemTitle {
//   margin-bottom: $medium;
// }

// .ekosystem__bottomItemText {
//   margin:0;
//   padding:0;
//   width: 530px;
// }


.ekosystem {
  margin: $xx-large $space 0;
  display: flex;
  flex-direction: column;


  &__top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &m__topWrapper {
    display: flex;
    flex-direction: column;
  }

  &__topImage {
    img {
      object-fit: scale-down;
    }
  }

  &__title {
    width: 665px;
    margin-bottom: $x-large;
  }

  &__text {
    width: 724px;
    margin-bottom: $x-large;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
  }

  &__bottomItem {
    display: flex;
    flex-direction: column;
    margin-right: $space;
    justify-content: space-between;
  }

  &__bottomItemTitle {
    margin-bottom: $medium;
  }

  &__bottomItemText {
    margin:0;
    padding:0;
    width: 530px;
  }
}

.store {
  padding: $xx-large $space;
  display: flex;
  flex-direction: row;
  margin-top: $xx-large;
  background-color: $background-color;
  // justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__title {    
    @include h0($text-color);
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1px;
    
  }

  &__text {
    width: 320px;
    margin: $x-small 0;
  }

  &__btn {
    @include button-design();
    width: 205px;
  }

  &__right {
    position: relative; 
    margin-left: 1.8 * $xx-large;
    top: $large;
    display: flex;
    align-items: flex-end;
  }

  &__imgPrinter {
    position: absolute; 
    z-index:3;
  }

  &__imgLobby {
    position: absolute; 
    z-index:2;
    left:150px;
  }

  &__imgUchwyt {
    position: absolute; 
    z-index:1;
    left:410px;
  }

}


.faq {

  padding: $large $space;
  display: flex;
  flex-direction: row;
  margin-top: $xx-large;
  justify-content: space-between;
  align-items: flex-start;
  

  &__title {    
    @include h0($text-color);
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1px;
    width: 2.25 * $xx-large;
    
  }

  &__questions {
    @include h4;
    width: 2.5 * $xx-large;
    line-height: $base;
  }

  &__answer {
    margin-top: $base;
    margin-bottom: $medium;
    font-weight: $font-ligth;

      &--underlined {
        text-decoration: underline;
    }
  }
}

  .contact {
    margin: $large $space 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    &__nav {
      display: flex;
      flex-direction: row;
      width: 30%;
      // justify-content: space-between;
      margin-bottom: $x-large;
    }

    &__navItem {
      @include tab;
      margin-left: $base;
    }

    &__form {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr; 
      grid-template-columns: 1fr 1fr; 
      column-gap: $xx-large;
      row-gap: $medium;
      grid-template-areas:
        "contact__formItem-name contact__formItem-lastname"
        "contact__formItem-phone contact__formItem-email"
        "contact__formItem-message contact__formItem-message";       
    }

    &__formItem {
      border-bottom: 1px dashed #2A2A2A;

    }

    &__formItem-message {      
    }

    &__formItemLabel {
      font-size: 13px;
      font-weight: $font-ligth;
      font-family: $secondary-font;
      color: $text-color;
    }

    &__formItemInput {
      border: none;
      background: transparent;      
      font-family: $secondary-font;
      size: 30px;
      height: $large;
      color: $text-color;
      font-weight: $font-regular;
      width: 6 * $x-large;        
      @include description-text();
      @include placeholder-color($text-color);     
      
    }

    &__btn {
      margin-top: $medium;
      width: 2 * $xx-large;
      @include button-design();
    }

  }

  





