@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;400;700&display=swap");
h1 {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
}

body {
  background: #f7f7f7;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.big-headline-text {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.big-headline-text-second {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.description-text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 19px;
  line-height: 26px;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 17px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 17px;
  line-height: 25px;
}

button {
  font: "Roboto", sans-serif;
  size: 17px;
}

.tab {
  font-family: "Roboto", sans-serif;
  size: 17px;
  color: #000000;
  font-weight: 400;
}

.tab:active {
  font-weight: bold;
  text-decoration: underline solid #01ffcb 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 1200px;
}

.container__second {
  background-color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  margin: 0;
  padding: 0;
  z-index: 10;
}

@media (max-width: 599px) {
  .menu {
    display: none;
  }
}

.menu li {
  display: inline;
}

.menu__wrapperTop {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
  padding: 0;
  outline: 0;
}

.menu__logo {
  padding-left: 90px;
}

.menu__navTop {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.menu__navTopMiddle {
  padding-left: 30px;
  padding-right: 30px;
}

.menu__navTopRight button {
  background-color: Transparent;
  outline: none;
  border: none;
  color: #000000;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.menu .menu__btnGetTheApp {
  color: white;
  background-color: #3146ff;
  padding-right: 140px;
  padding-top: 60px;
  padding-left: 40px;
  font-weight: 300;
}

.menu__navTopLeft {
  padding: 0;
  padding-right: 30px;
  margin: 0;
  font-size: 13px;
  justify-content: space-between;
  display: flex;
  flex-flow: row;
}

.menu__navTopLeft li {
  padding-right: 30px;
  padding-left: 30px;
}

.menu__navDown {
  padding-left: 340px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
