@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;400;700&display=swap");
h1 {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
}

body {
  background: #f7f7f7;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.big-headline-text {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.big-headline-text-second {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.description-text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 19px;
  line-height: 26px;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 17px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 17px;
  line-height: 25px;
}

button {
  font: "Roboto", sans-serif;
  size: 17px;
}

.tab {
  font-family: "Roboto", sans-serif;
  size: 17px;
  color: #000000;
  font-weight: 400;
}

.tab:active {
  font-weight: bold;
  text-decoration: underline solid #01ffcb 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 599px) {
  .container {
    width: 100%;
  }
}

.background-second {
  background-color: white;
}

.container-second {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

@media (max-width: 599px) {
  .container-second {
    width: 100%;
  }
}

.problemSolving {
  margin: 0 auto;
  margin-top: 120px;
}

@media (max-width: 599px) {
  .problemSolving {
    display: none;
    margin: 0;
  }
}

.problemSolving__tiles {
  display: flex;
  flex-direction: row;
}

.problemSolving__tile {
  background-color: white;
  padding: 60px;
  margin-right: 20px;
}

.problemSolving__image {
  margin-bottom: 60px;
}

.problemSolving__title {
  width: 200px;
}
