@import './main';

.problemSolving {
    margin: 0 auto;
    margin-top: $xx-large;

    @include for-phone-only {    
      display: none;
   }
  }
  
  .problemSolving__tiles {
    display: flex;
    flex-direction: row;
  }
  
  .problemSolving__tile {
    background-color: white;
    padding: $large;
    margin-right: $small;
  }
  
  .problemSolving__image {
    margin-bottom: $large;
    
  }
  
  .problemSolving__title {
    width: 200px;
  }
  
  .problemSolving__text {
  }