@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;400;700&display=swap");
h1 {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
}

body {
  background: #f7f7f7;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.big-headline-text {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.big-headline-text-second {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.description-text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 19px;
  line-height: 26px;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 17px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 17px;
  line-height: 25px;
}

button {
  font: "Roboto", sans-serif;
  size: 17px;
}

.tab {
  font-family: "Roboto", sans-serif;
  size: 17px;
  color: #000000;
  font-weight: 400;
}

.tab:active {
  font-weight: bold;
  text-decoration: underline solid #01ffcb 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
}

.container_second {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: white;
}

.products {
  padding-left: 340px;
  padding-top: 120px;
  background-color: white;
}

@media (max-width: 599px) {
  .products {
    display: none;
  }
}

.product__tiles {
  display: flex;
  flex-direction: row;
}

.product__tile {
  background-color: #f7f7f7;
  margin-right: 20px;
  position: relative;
  margin-bottom: 90px;
  width: 450px;
  padding: 0;
}

.product__tile h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

.product__subtitle {
  font-size: 60px;
  margin: 0;
  padding: 0;
  border: 0;
}

.textwrapper {
  position: absolute;
  top: 60px;
  left: 60px;
}

.products__image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.products__title {
  margin: 0;
  padding: 0;
  display: inline;
  border: 0;
  position: absolute;
  top: 8px;
  left: 16px;
}
