@import './main';

.products {
  padding-left: $space;
  padding-top: $xx-large;
  background-color: white;

  &__mainTitle{

    @include h4;  

    @include for-phone-only {
      margin: $small;
    }
  }

  @include for-phone-only {
    margin: 0;
    padding: 0;
    margin-bottom: $large;
  }
}

.product__tiles {
  display: flex;
  flex-direction: row;
  
}

.product__tile {
  background-color: $background-color;
  margin-right: $small;  
  position: relative;
  margin-bottom: $x-large;
  width: 450px;
  padding: 0;

  @include for-phone-only {
    display: none;

    &--mobile{
      display: block;
      margin: 0;
      width: 100%;
    }
  }

  
}

.product__tile h3 {
  margin:0;
  padding:0;
  border:0;
}

.product__subtitle{
  font-size:$large;
  margin:0;
  padding:0;
  border:0;

}

.textwrapper{
  position: absolute;
  top: $large;
  left: $large;

  @include for-phone-only {
    position: absolute;
    top: $large;
    left: $base;
  }
}

.products__image {  
  width:100%;
  height: 100%;
  margin:0;
  padding:0;
  border:0;
}


.products__title {
  margin:0;
  padding:0;
  display:inline; 
  border:0;
  position: absolute;
  top: 8px;
  left: 16px;  
}

.products__text {
  
}