@import './main';

.products {
  margin-top: $xx-large;  
  background-color: white;

  &__mainTitle{

    @include h4;  
    margin-bottom: $base;
    @include for-phone-only {
      margin: $small;
    }
  }
  

  @include for-phone-only {
    margin: 0;
    padding: 0;
    margin-bottom: $large;
  }
}

.product__tiles {
  display: flex;
  flex-direction: row;
  margin-bottom: $x-large;
  
}

.product__tile {
  background-color: $background-color;
  margin-right: $small;  
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @include for-phone-only {
    display: none;

    &--mobile{
      display: block;
      margin: 0;
      width: 100%;
    }
  }

  
}

.product__tile h3 {
  margin:0;
  padding:0;
  border:0;
}

.product__subtitle{
  font-size:$large;
  margin:0;
  padding:0;
  border:0;
  

}

.textwrapper{
  padding: $medium $x-large 0 $medium;
  padding-bottom: 0;

  @include for-phone-only {
    position: absolute;
    top: $large;
    left: $base;
  }
}

.product__image { 
  width: 293px; 
  height: 272px; 
  object-fit: cover;
  object-position: -30px 30px;
  margin:0;
  padding:0;
  border:0;
}


// .products__title {
//   margin:0;
//   padding:0;
//   display:inline; 
//   border:0;
//   position: absolute;
//   top: 8px;
//   left: 16px;  
// }

.product__text {
  width: 300px;
  margin-bottom: 0;
}