@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;400;700&display=swap");
h1 {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
}

body {
  background: #f7f7f7;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.big-headline-text {
  font-family: "Poppins", sans-serif;
  color: #3146ff;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.big-headline-text-second {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -3px;
}

.description-text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 19px;
  line-height: 26px;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 17px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 17px;
  line-height: 25px;
}

button {
  font: "Roboto", sans-serif;
  size: 17px;
}

.tab {
  font-family: "Roboto", sans-serif;
  size: 17px;
  color: #000000;
  font-weight: 400;
}

.tab:active {
  font-weight: bold;
  text-decoration: underline solid #01ffcb 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
}

.container_second {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: white;
}

.footer {
  background-color: #3146ff;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media (max-width: 599px) {
  .footer {
    flex-flow: column;
    padding: 0;
  }
}

.footer__lists {
  display: flex;
  flex-wrap: row wrap;
  list-style: none;
  padding: 340px;
  padding-top: 90px;
  padding-bottom: 120px;
}

@media (max-width: 599px) {
  .footer__lists {
    flex-flow: column;
    padding: 0;
  }
}

.footer__list {
  padding-right: 120px;
}

.footer__listTitle {
  font-weight: 700;
  padding-bottom: 20px;
}

.footer hr {
  border: 0;
  height: 1px;
  opacity: 0.2;
  background-color: #E8E9EB;
}

.footer__logo img {
  float: right;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 120px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.menu li {
  display: inline;
}

.menu__wrapperTop {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
  padding: 0;
  outline: 0;
}

.menu__logo {
  padding-left: 90px;
}

.menu__navTop {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.menu__navTopMiddle {
  padding-left: 30px;
  padding-right: 30px;
}

.menu__navTopRight button {
  background-color: Transparent;
  outline: none;
  border: none;
  color: #000000;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.menu .menu__btnGetTheApp {
  color: white;
  background-color: #3146ff;
  padding-right: 140px;
  padding-top: 60px;
  padding-left: 40px;
  font-weight: 300;
}

.menu__navTopLeft {
  padding: 0;
  padding-right: 30px;
  margin: 0;
  font-size: 13px;
  justify-content: space-between;
  display: flex;
  flex-flow: row;
}

.menu__navTopLeft li {
  padding-right: 30px;
  padding-left: 30px;
}

.menu__navDown {
  padding-left: 340px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__main {
  padding-left: 340px;
  display: flex;
  flex-direction: row;
}

.header__mainText {
  display: flex;
  flex-direction: column;
}

.header__lists {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7;
  padding-left: 340px;
  padding-top: 40px;
  margin-top: 30px;
  z-index: 4;
}

.header__listItem {
  width: 310px;
  margin-right: 120px;
}

.header__title {
  padding-top: 170px;
  padding-bottom: 40px;
}

.header__text {
  padding-bottom: 30px;
}

.header .header__mainText .header__btn {
  margin-bottom: 90px;
}

.header__mainImages {
  position: relative;
  z-index: 1;
  margin-top: 40px;
  margin-left: 60px;
}

.header__storeIcons {
  width: 420px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__storeIconImg {
  height: 60px;
}

.handImage {
  z-index: 3;
  position: absolute;
  left: 90px;
}

.desksImage {
  z-index: 2;
  position: absolute;
  left: 30px;
  top: 120px;
}

.problemSolving {
  margin-left: 340px;
  margin-top: 120px;
}

.problemSolving__tiles {
  display: flex;
  flex-direction: row;
}

.problemSolving__tile {
  background-color: white;
  padding: 60px;
  margin-right: 20px;
}

.problemSolving__image {
  margin-bottom: 60px;
}

.problemSolving__title {
  width: 200px;
}

.products {
  padding-left: 340px;
  padding-top: 120px;
  background-color: white;
}

.product__tiles {
  display: flex;
  flex-direction: row;
}

.product__tile {
  background-color: #f7f7f7;
  margin-right: 20px;
  position: relative;
  margin-bottom: 90px;
  width: 450px;
  padding: 0;
}

.product__tile h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

.product__subtitle {
  font-size: 60px;
  margin: 0;
  padding: 0;
  border: 0;
}

.textwrapper {
  position: absolute;
  top: 60px;
  left: 60px;
}

.products__image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.products__title {
  margin: 0;
  padding: 0;
  display: inline;
  border: 0;
  position: absolute;
  top: 8px;
  left: 16px;
}

.features {
  margin-top: 120px;
}

.features__main {
  display: flex;
  flex-direction: column;
  background-color: #3146ff;
  padding-left: 340px;
  padding-right: 340px;
  align-content: space-between;
  background-image: url("Layer 78.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.features__title {
  margin-left: 340px;
}

.features__top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.features__rightSide {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-left: 120px;
}

.features__bottom p {
  text-align: center;
  color: white;
}

.features__bottom hr {
  border-top: 1px dashed white;
  color: transparent;
}

.features__subtitle {
  margin-bottom: 120px;
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: -3px;
  line-height: 60px;
  width: 540px;
}

.features__phoneImg {
  margin-left: auto;
  padding: 0;
}

.features__text {
  margin-left: auto;
  margin-bottom: 90px;
  width: 540px;
}

.features__text p {
  color: white;
}

.roomBooking {
  display: flex;
  flex-direction: row;
  margin-left: 340px;
  margin-right: 340px;
  margin-top: 60px;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0;
  outline: 0;
  background-color: white;
}

.roomBooking__textWrapper {
  display: flex;
  flex-direction: column;
}

.roomBooking__title {
  padding-top: 60px;
}

.roomBooking__text {
  width: 412px;
}

.roomBooking__phone {
  margin: 0;
  padding: 0;
}

.roomBooking__phoneText {
  padding-top: 90px;
  line-height: 30px;
  margin-right: 120px;
}
